.cabecalho{
    background-color: rgb(239, 188, 166);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    color: 203, 95, 12, 0.37;
    color: rgb(245, 106, 55);
}

.div1{
    background-color: rgba(245, 106, 55, 0.69);
    font-family:Georgia;
    font-style: normal;
    font-size: smaller;
    color: black;

}

.div2{
    background-color: rgba(222, 168, 76, 0.756);
}

.div3{
    background-color:lightcyan;
}
.div4{
    
    background-color: rgba(118, 188, 208, 0.592);
    text-align:start;
}
.div5{
    background-color: rgba(162, 217, 243, 0.448);
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    font-size: x-large;
}



a:link {
    color: hsl(180, 38%, 34%);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(227, 105, 121);
    background-color: transparent;
    text-decoration: underline;
  }

.div6{
    font-family:'Gill Sans';
    font-style:normal;
    font-size:xx-large;
    color: rgb(12, 35, 79);

}

.corpo{
    background-color: rgba(161, 231, 231, 0.788);
    text-align: center;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rodape{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: rgb(142, 207, 207);
}
.cit {
    background-color: white;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;}

tr:hover {background-color: gray;}
table{
    border: 1px solid;

}
table td{
    border: 1px solid;

}